.contact {
  max-width: 700px;
  margin: 10rem auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &-title {
    color: var(--theme-color);
    font-size: var(--tbase);
    font-family: var(--fira-code);
    font-weight: 300;
    &::before {
      counter-increment: title;
      content: "0" counter(title) ".";
      margin-right: 0.5rem;
      color: var(--theme-color);
    }
  }
  &-sub-title {
    font-size: var(--tgiant);
    color: var(--light-slate);
    font-family: var(--raleway);
  }
  &-text {
    color: var(--slate);
    font-size: var(--tlarge);
    letter-spacing: 0.07rem;
    line-height: 1.6rem;
    font-weight: 600;
    font-family: var(--raleway);
    text-align: center;
  }
  &-cta {
    margin-top: 1rem;
    label {
      color: var(--light-slate);
      font-family: var(--fira-code);
      margin-left: 10px;
    }
    label,
    input,
    textarea {
      display: block;
      min-width: 430px;
      font-size: var(--tbase);
      background-color: transparent;
    }
    input,
    textarea {
      margin-bottom: 20px;
      color: var(--slate);
      padding: 5px;
      font-family: var(--raleway);
      border: 1px solid var(--theme-color);
      border-radius: 10px;
      padding: 5px 10px;
    }

    textarea {
      height: 120px;
    }

    input:focus, textarea:focus {
        outline: none;
    }
  }
  &-loading {
    margin-top: 1rem;
    &-desc {
      color: var(--theme-color);
      font-size: var(--tbase);
      font-family: var(--fira-code);
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 480px) {
  .contact {
    &-cta {
      label,
      input,
      textarea {
        min-width: 360px;
      }
           
    }
  }
}