.footer-container {
    border-top: 2px solid var(--theme-color);
    width: 100%;
    text-align: center;
    color: var(--light-slate);
    font-family: var(--fira-code);
    font-size: 12px;
    padding-top: 50px;
    margin-bottom: 20px;
}